# Kowshik P

## Decision Tree Regression - Metrics Assignment on 18-Apr-2022

In [2]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as mat;

In [3]:
informationSlot = pd.read_csv("insurance_pre.csv");

informationSlot

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
informationSlot.shape

(1338, 6)

In [5]:
informationSlot = pd.get_dummies(informationSlot, drop_first = True);

informationSlot

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
independentData = informationSlot[["age", "bmi", "children", "sex_male", "smoker_yes"]];

independentData

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependentData = informationSlot[["charges"]];

dependentData

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split;

x_train, x_test, y_train, y_test = train_test_split(independentData, dependentData, test_size = 1/3, random_state = 0);

In [9]:
from sklearn.preprocessing import StandardScaler;

standardization = StandardScaler();

x_train = standardization.fit_transform(x_train);

x_test = standardization.transform(x_test);

In [ ]:
x_train

In [ ]:
x_test

In [ ]:
y_train

In [ ]:
y_test

In [13]:
from sklearn.tree import DecisionTreeRegressor;

from sklearn.model_selection import GridSearchCV;

param_grid = {"criterion":["mse","mae"], "splitter":["best", "random"], 
                       "max_features" :["auto", "sqrt", "log2"],
                  "max_depth":[None, 10, 50, 80], "min_samples_split":[10, 50, 80, 100],
                  "max_leaf_nodes":[None, 1, 5, 10]}

gridCV = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3, n_jobs=-1); 

gridCV.fit(x_train, y_train);

Fitting 5 folds for each of 768 candidates, totalling 3840 fits

C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
960 fits failed out of a total of 3840.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
960 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\tree\_classes.py", line 1320, in fit
    X_idx_sorted=X_idx_sorted,
  File "C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\tree\_classes.py", line 316, in fit
    max_leaf_nodes
ValueError: max_leaf_nodes 1 must be either None or larger than 1

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.71796476 0.7724796  0.81472235 0.77747131 0.80620695 0.72388104
 0.80695415 0.76124193        nan        nan        nan        nan
        nan        nan        nan        nan 0.80118881 0.65684574
 0.80118881 0.65775985 0.80141495 0.70132752 0.80141495 0.6744922
 0.81701083 0.79271135 0.81947337 0.79576642 0.80802272 0.72573103
 0.80721558 0.7073445  0.71087045 0.61303621 0.64776881 0.6568805
 0.53536761 0.62797974 0.53800632 0.59445361        nan        nan
        nan        nan        nan        nan        nan        nan
 0.66993399 0.50834559 0.46501938 0.35087725 0.45658909 0.55998494
 0.63419058 0.61264234 0.61386815 0.56831648 0.65306604 0.62104452
 0.67428164 0.60151089 0.48101218 0.50099362 0.68826907 0.68303684
 0.65718886 0.66333313 0.59329864 0.65043933 0.62622067 0.64054843
        nan        nan        nan        nan        nan        nan
        nan        nan 0.61729952 0.47565541 0.53318488 0.50425666
 0.6509408  0.63434162 0.62140375 0.34008533 0.64864443 0.53292788
 0.44415356 0.50756193 0.62143269 0.53796522 0.65282852 0.43431796
 0.71877188 0.7867195  0.81472235 0.76576861 0.80620695 0.76116903
 0.80695415 0.7661907         nan        nan        nan        nan
        nan        nan        nan        nan 0.80118881 0.69167463
 0.80118881 0.71126573 0.80141495 0.71143523 0.80141495 0.68292242
 0.81701083 0.77553832 0.81947337 0.7581095  0.80802272 0.74687788
 0.80721558 0.71627106 0.69392892 0.69293783 0.73616283 0.71334542
 0.7453159  0.53997977 0.71317052 0.49363755        nan        nan
        nan        nan        nan        nan        nan        nan
 0.58584695 0.48264228 0.34297657 0.49796293 0.39919058 0.50657943
 0.57322047 0.49250213 0.67200529 0.52929089 0.69620873 0.55651494
 0.60852999 0.48590305 0.5375333  0.40251907 0.67316073 0.67580264
 0.70494111 0.65004638 0.64819389 0.62449019 0.61526052 0.70936983
        nan        nan        nan        nan        nan        nan
        nan        nan 0.50800916 0.5213372  0.33475927 0.52292807
 0.40010437 0.4612259  0.6197117  0.45669066 0.72223208 0.55301863
 0.75021863 0.51127719 0.73700957 0.59886061 0.53797104 0.58844815
 0.71796912 0.77912045 0.81472235 0.77866749 0.80620695 0.73297674
 0.80695415 0.73622557        nan        nan        nan        nan
        nan        nan        nan        nan 0.80118881 0.71187322
 0.80118881 0.7163102  0.80141495 0.69854895 0.80141495 0.72240286
 0.81701083 0.785176   0.81947337 0.76860009 0.80802272 0.75476438
 0.80721558 0.74880982 0.73856492 0.6936807  0.68242766 0.68349733
 0.6008917  0.64994007 0.67295656 0.60787823        nan        nan
        nan        nan        nan        nan        nan        nan
 0.58642515 0.26849533 0.54526922 0.58811982 0.20395242 0.68094846
 0.50363288 0.56941997 0.6244185  0.56030268 0.64443676 0.47862248
 0.65639459 0.46009792 0.66918131 0.56257495 0.70466386 0.74516536
 0.39842558 0.69627889 0.73150273 0.64264368 0.48874025 0.61431166
        nan        nan        nan        nan        nan        nan
        nan        nan 0.4015508  0.43560168 0.53574533 0.49477571
 0.40045447 0.45148792 0.46382046 0.61128943 0.68850086 0.58258566
 0.59835845 0.65887594 0.46292474 0.65061706 0.66175943 0.63842672
 0.71796912 0.79321065 0.81472235 0.77807143 0.80620695 0.73099555
 0.80695415 0.7478377         nan        nan        nan        nan
        nan        nan        nan        nan 0.80118881 0.70009456
 0.80118881 0.69290711 0.80141495 0.72573771 0.80141495 0.71181154
 0.81701083 0.76757311 0.81947337 0.77752122 0.80802272 0.74556624
 0.80721558 0.75228964 0.72914372 0.70749763 0.67573258 0.62685176
 0.59059754 0.56761186 0.60995667 0.62511351        nan        nan
        nan        nan        nan        nan        nan        nan
 0.61596445 0.54272139 0.58984337 0.48588511 0.64729211 0.55572135
 0.52309492 0.42655879 0.73649268 0.50033406 0.60911401 0.64086755
 0.58446369 0.59963116 0.66922648 0.59671009 0.72459863 0.6994698
 0.7812517  0.68161315 0.576734   0.6099346  0.55796921 0.66014134
        nan        nan        nan        nan        nan        nan
        nan        nan 0.49047544 0.45813622 0.68158868 0.62778104
 0.40882912 0.60296385 0.53885118 0.4105683  0.51271095 0.53460571
 0.6819887  0.63204759 0.73448483 0.5610296  0.63917809 0.56814
 0.75174356 0.75730334 0.8138506  0.76939829 0.80582378 0.77284063
 0.80503424 0.71918193        nan        nan        nan        nan
        nan        nan        nan        nan 0.7942503  0.68831232
 0.7942503  0.64748323 0.7942503  0.70930303 0.7942503  0.66644798
 0.81778826 0.71157567 0.81778826 0.70396399 0.80451715 0.78563327
 0.80451715 0.67556567 0.69628036 0.67416521 0.69046705 0.50768183
 0.50039797 0.54096521 0.47207384 0.55349976        nan        nan
        nan        nan        nan        nan        nan        nan
 0.4765038  0.40677046 0.42829037 0.53354935 0.37947449 0.41274844
 0.37645793 0.35775656 0.62212753 0.34347831 0.56678446 0.25539954
 0.52169671 0.37745888 0.53553502 0.51214899 0.72360439 0.67700737
 0.62746106 0.68261901 0.57810795 0.54386741 0.45402544 0.5565933
        nan        nan        nan        nan        nan        nan
        nan        nan 0.64553646 0.57535695 0.52029979 0.36221367
 0.55951716 0.24591721 0.28792846 0.39543538 0.54412832 0.54314079
 0.6156242  0.44701757 0.54638241 0.51318711 0.56906082 0.47275143
 0.75685796 0.77594006 0.8138506  0.74781724 0.80582378 0.68966953
 0.80503424 0.74808145        nan        nan        nan        nan
        nan        nan        nan        nan 0.7942503  0.65158245
 0.7942503  0.69377139 0.7942503  0.64586433 0.7942503  0.66727922
 0.81778826 0.69516038 0.81778826 0.74438662 0.80451715 0.69516941
 0.80451715 0.68415231 0.74419327 0.60623344 0.64631156 0.66365393
 0.6433576  0.63255585 0.46328188 0.54571571        nan        nan
        nan        nan        nan        nan        nan        nan
 0.49794342 0.26546703 0.32071776 0.13568388 0.34770127 0.44064123
 0.53563969 0.54178664 0.64593254 0.51930808 0.58705022 0.61919959
 0.67396454 0.51498658 0.54400931 0.30399872 0.70788316 0.64946845
 0.61267769 0.62769873 0.68875442 0.45985044 0.50255215 0.40976288
        nan        nan        nan        nan        nan        nan
        nan        nan 0.56018706 0.23320854 0.44350953 0.49636355
 0.38831826 0.54299932 0.47694259 0.36832034 0.52811872 0.63873835
 0.63615555 0.58663259 0.54055932 0.57117885 0.50416873 0.57261488
 0.75054702 0.78402559 0.8138506  0.74207464 0.80582378 0.72608319
 0.80503424 0.72249457        nan        nan        nan        nan
        nan        nan        nan        nan 0.7942503  0.65764974
 0.7942503  0.68835164 0.7942503  0.63880479 0.7942503  0.66667282
 0.81778826 0.76269303 0.81778826 0.76397834 0.80451715 0.66618719
 0.80451715 0.69244456 0.69180454 0.67274843 0.65115158 0.67138694
 0.41064681 0.61992996 0.48002366 0.55680392        nan        nan
        nan        nan        nan        nan        nan        nan
 0.54990796 0.29633295 0.33190531 0.32373623 0.57866693 0.49509211
 0.32648764 0.30621093 0.69023297 0.38166869 0.77871955 0.54897498
 0.56869606 0.54101573 0.51812555 0.5944103  0.69145473 0.63213991
 0.60181144 0.57938447 0.65867244 0.62376377 0.57066988 0.50500148
        nan        nan        nan        nan        nan        nan
        nan        nan 0.37166535 0.62807435 0.3812281  0.41646204
 0.32745623 0.36227287 0.58934219 0.34888641 0.73548138 0.46780607
 0.60201056 0.37159184 0.5326641  0.59696402 0.42202183 0.63877909
 0.75170085 0.7942419  0.8138506  0.75553912 0.80582378 0.74854213
 0.80503424 0.7239842         nan        nan        nan        nan
        nan        nan        nan        nan 0.7942503  0.7128725
 0.7942503  0.69774741 0.7942503  0.70058819 0.7942503  0.67532649
 0.81778826 0.77877015 0.81778826 0.75702509 0.80451715 0.71695908
 0.80451715 0.70442388 0.62210044 0.64576863 0.74147714 0.67486297
 0.5662374  0.6097052  0.62443342 0.44035758        nan        nan
        nan        nan        nan        nan        nan        nan
 0.34699631 0.33744809 0.46273398 0.10355978 0.41096695 0.42589546
 0.39755331 0.54348737 0.62866022 0.53879794 0.59538377 0.54846154
 0.41079883 0.55459316 0.47227294 0.53066732 0.66122588 0.71217636
 0.65997765 0.58864988 0.59542908 0.56068317 0.43008509 0.57426505
        nan        nan        nan        nan        nan        nan
        nan        nan 0.33622449 0.37826502 0.38609046 0.33052233
 0.21443252 0.19716826 0.37727338 0.34073091 0.5336892  0.46558319
 0.63470242 0.4644504  0.26950219 0.59903333 0.57535413 0.51198328]
  category=UserWarning,
C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

In [ ]:
#from sklearn.svm import SVR;

#regressor = SVR(kernel = "linear", C = 10000);

#regressor.fit(x_train, y_train);

#regressor

In [ ]:
#weight = regressor.coef_;

#weight

In [ ]:
#bias = regressor.intercept_;

#bias

In [14]:
y_pred = gridCV.predict(x_test);

# 1. Metric(R2_Score) 

## if the value of "r" nearly to 1 then that is "Good performence".

## if the value of "r" nearly to 0 then that is "Poor performence".

In [15]:
from sklearn.metrics import r2_score;

metricDecisionTree_1 = r2_score(y_test, y_pred);

metricDecisionTree_1

0.8804696874315622

# 2. Metric(explained_variance_score) 

## if the value of nearly to 1 then that is "Good performence".

## if the value of nearly to 0 then that is "Poor performence".

In [16]:
from sklearn.metrics import explained_variance_score;

metricDecisionTree_2 = explained_variance_score(y_test, y_pred);

metricDecisionTree_2

0.8809710605780151

# 3. Metric(max_error) 

## A positive floating point value (the best value is 0.0).

In [17]:
from sklearn.metrics import max_error;

metricDecisionTree_3 = max_error(y_test, y_pred);

metricDecisionTree_3

22393.056451775148

# 4. Metric(mean_absolute_error) 

## MAE output is non-negative floating point. The best value is 0.0.

In [18]:
from sklearn.metrics import mean_absolute_error;

metricDecisionTree_4 = mean_absolute_error(y_test, y_pred);

metricDecisionTree_4

2635.9217387826175

# 5. Metric(mean_squared_error) 

## A non-negative floating point value (the best value is 0.0).

In [19]:
from sklearn.metrics import mean_squared_error;

metricDecisionTree_5 = mean_squared_error(y_test, y_pred);

metricDecisionTree_5

19164916.65134844

# 6. Metric(mean_squared_error) 

## A non-negative floating point value (the best value is 0.0).

In [20]:
from sklearn.metrics import mean_squared_error;

metricDecisionTree_6 = mean_squared_error(y_test, y_pred);

metricDecisionTree_6

19164916.65134844

In [ ]:
#from sklearn.metrics import mean_squared_log_error;

#import math;

#def root_mean_squared_log_error(y_test, y_pred):
#    sum = 0.0
 #   for xValue in range(len(y_pred)):
 #       if y_pred[xValue]<0 or y_test[xValue]<0:
   #         continue
  #      predicted = np.log(y_pred[xValue]+1)
  #      actual = np.log(y_test[xValue]+1)

  #  return (sum/len(y_pred))**5




#def normalize(x_test):
  #  result = x_test.copy()
   # for feature_name in x_test.columns:
  #      max_value = x_test[feature_name].max()
   #     min_value = x_test[feature_name].min()
   #     result [feature_name] = (x_test[feature_name]-min_value) / (max_value-min_value)
  #  return result

# 7. Metric(median_absolute_error) 

## Median absolute error output is non-negative floating point. The best value is 0.0.

In [21]:
from sklearn.metrics import median_absolute_error;

metricDecisionTree_7 = median_absolute_error(y_test, y_pred);

metricDecisionTree_7

1788.6346182248494

# 8. Metric(mean_squared_log_error) 

## A non-negative floating point value (the best value is 0.0).

In [22]:
from sklearn.metrics import mean_squared_log_error;

metricDecisionTree_8 = mean_squared_log_error(y_test, y_pred);

metricDecisionTree_8

0.2049868716074138

# 9. Metric(mean_poisson_deviance) 

## A non-negative floating point value (the best value is 0.0).

In [23]:
from sklearn.metrics import mean_poisson_deviance

metricDecisionTree_9 = mean_poisson_deviance(y_test, y_pred)

metricDecisionTree_9

1863.2615922255911

# 10. Metric(mean_gamma_deviance) 

## A non-negative floating point value (the best value is 0.0).

In [24]:
from sklearn.metrics import mean_gamma_deviance;

metricDecisionTree_10 = mean_gamma_deviance(y_test, y_pred);

metricDecisionTree_10

0.2684852695346714

# 11. Metric(mean_absolute_percentage_error) 

## MAPE output is non-negative floating point. The best value is 0.0.

In [25]:
from sklearn.metrics import mean_absolute_percentage_error;

metricDecisionTree_11 = mean_absolute_percentage_error(y_test, y_pred);

metricDecisionTree_11

0.32839704223321237

# 12. Metric(mean_tweedie_deviance - power: 1) 

## A non-negative floating point value (the best value is 0.0).

In [26]:
from sklearn.metrics import mean_tweedie_deviance;

metricDecisionTree_12 = mean_tweedie_deviance(y_test, y_pred, power = 1);

metricDecisionTree_12

1863.2615922255911

# 13. Metric(mean_tweedie_deviance - power: 2) 

## A non-negative floating point value (the best value is 0.0).

In [27]:
from sklearn.metrics import mean_tweedie_deviance;

metricDecisionTree_13 = mean_tweedie_deviance(y_test, y_pred, power = 2);

metricDecisionTree_13

0.2684852695346714

# 14. Metric(mean_tweedie_deviance - power: 0) 

## A non-negative floating point value (the best value is 0.0).

In [28]:
from sklearn.metrics import mean_tweedie_deviance;

metricDecisionTree_14 = mean_tweedie_deviance(y_test, y_pred, power = 0);

metricDecisionTree_14

19164916.65134844