# Kowshik P

## Polynomial Regression - Metrics Assignment on 18-Apr-2022

In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as mat;

In [2]:
informationSlot = pd.read_csv("insurance_pre.csv");

informationSlot

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
informationSlot.shape

(1338, 6)

In [4]:
informationSlot = pd.get_dummies(informationSlot, drop_first = True);

informationSlot

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
independentData = informationSlot[["age", "bmi", "children", "sex_male", "smoker_yes"]];

independentData

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependentData = informationSlot[["charges"]];

dependentData

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split;

x_train, x_test, y_train, y_test = train_test_split(independentData, dependentData, test_size = 1/3, random_state = 0);

In [ ]:
#from sklearn.preprocessing import StandardScaler;

#standardization = StandardScaler();

#x_train = standardization.fit_transform(x_train);

#x_test = standardization.transform(x_test);

In [ ]:
x_train

In [ ]:
x_test

In [ ]:
y_train

In [ ]:
y_test

In [9]:
from sklearn.preprocessing import PolynomialFeatures;

from sklearn.linear_model import LinearRegression;


polyRegressor = PolynomialFeatures(degree = 2);

x_train_transform = polyRegressor.fit_transform(x_train);

x_test_transform = polyRegressor.fit_transform(x_test);

#from sklearn.model_selection import GridSearchCV;

#param_grid = {"interaction_only":[True, False], 
   #           "include_bias": [True, False], "order":["C", "F"]}

#gridCV = GridSearchCV(PolynomialFeatures(degree = 2), param_grid, cv=10, scoring='neg_mean_squared_error'); 

#gridCV.fit(x_train_transform, y_train);


#pl = polyRegressor.fit(x_train_transform, y_train)

linearReg = LinearRegression();

linearReg.fit(x_train_transform, y_train);

#poly = PolynomialFeatures(degree = 3)


#poly.fit(x_train, y_train)

In [ ]:
#from sklearn.svm import SVR;

#regressor = SVR(kernel = "linear", C = 10000);

#regressor.fit(x_train, y_train);

#regressor

In [ ]:
#weight = regressor.coef_;

#weight

In [ ]:
#bias = regressor.intercept_;

#bias

In [10]:
y_pred = linearReg.predict(x_test_transform);

# 1. Metric(R2_Score) 

## if the value of "r" nearly to 1 then that is "Good performence".

## if the value of "r" nearly to 0 then that is "Poor performence".

In [11]:
from sklearn.metrics import r2_score;

metricPolynamial_1 = r2_score(y_test, y_pred);

metricPolynamial_1

0.8752557055043343

# 2. Metric(explained_variance_score) 

## if the value of nearly to 1 then that is "Good performence".

## if the value of nearly to 0 then that is "Poor performence".

In [12]:
from sklearn.metrics import explained_variance_score;

metricPolynamial_2 = explained_variance_score(y_test, y_pred);

metricPolynamial_2

0.8753309674986853

# 3. Metric(max_error) 

## A positive floating point value (the best value is 0.0).

In [13]:
from sklearn.metrics import max_error;

metricPolynamial_3 = max_error(y_test, y_pred);

metricPolynamial_3

20982.442129808544

# 4. Metric(mean_absolute_error) 

## MAE output is non-negative floating point. The best value is 0.0.

In [14]:
from sklearn.metrics import mean_absolute_error;

metricPolynamial_4 = mean_absolute_error(y_test, y_pred);

metricPolynamial_4

2779.399954384005

# 5. Metric(mean_squared_error) 

## A non-negative floating point value (the best value is 0.0).

In [15]:
from sklearn.metrics import mean_squared_error;

metricPolynamial_5 = mean_squared_error(y_test, y_pred);

metricPolynamial_5

20000901.48992021

# 6. Metric(mean_squared_error) 

## A non-negative floating point value (the best value is 0.0).

In [16]:
from sklearn.metrics import mean_squared_error;

metricPolynamial_6 = mean_squared_error(y_test, y_pred);

metricPolynamial_6

20000901.48992021

In [ ]:
#from sklearn.metrics import mean_squared_log_error;

#import math;

#def root_mean_squared_log_error(y_test, y_pred):
#    sum = 0.0
 #   for xValue in range(len(y_pred)):
 #       if y_pred[xValue]<0 or y_test[xValue]<0:
   #         continue
  #      predicted = np.log(y_pred[xValue]+1)
  #      actual = np.log(y_test[xValue]+1)

  #  return (sum/len(y_pred))**5




#def normalize(x_test):
  #  result = x_test.copy()
   # for feature_name in x_test.columns:
  #      max_value = x_test[feature_name].max()
   #     min_value = x_test[feature_name].min()
   #     result [feature_name] = (x_test[feature_name]-min_value) / (max_value-min_value)
  #  return result

# 7. Metric(median_absolute_error) 

## Median absolute error output is non-negative floating point. The best value is 0.0.

In [17]:
from sklearn.metrics import median_absolute_error;

metricPolynamial_7 = median_absolute_error(y_test, y_pred);

metricPolynamial_7

1646.9719560063654

# 8. Metric(mean_squared_log_error) 

## A non-negative floating point value (the best value is 0.0).

In [18]:
from sklearn.metrics import mean_squared_log_error;

metricPolynamial_8 = mean_squared_log_error(y_test, y_pred);

metricPolynamial_8

0.16724077782089197

# 9. Metric(mean_poisson_deviance) 

## A non-negative floating point value (the best value is 0.0).

In [19]:
from sklearn.metrics import mean_poisson_deviance

metricPolynamial_9 = mean_poisson_deviance(y_test, y_pred)

metricPolynamial_9

1728.2585609602004

# 10. Metric(mean_gamma_deviance) 

## A non-negative floating point value (the best value is 0.0).

In [20]:
from sklearn.metrics import mean_gamma_deviance;

metricPolynamial_10 = mean_gamma_deviance(y_test, y_pred);

metricPolynamial_10

0.22942897931161435

# 11. Metric(mean_absolute_percentage_error) 

## MAPE output is non-negative floating point. The best value is 0.0.

In [21]:
from sklearn.metrics import mean_absolute_percentage_error;

metricSVM_11 = mean_absolute_percentage_error(y_test, y_pred);

metricSVM_11

0.29354998833127915

# 12. Metric(mean_tweedie_deviance - power: 1) 

## A non-negative floating point value (the best value is 0.0).

In [22]:
from sklearn.metrics import mean_tweedie_deviance;

metricSVM_12 = mean_tweedie_deviance(y_test, y_pred, power = 1);

metricSVM_12

1728.2585609602004

# 13. Metric(mean_tweedie_deviance - power: 2) 

## A non-negative floating point value (the best value is 0.0).

In [23]:
from sklearn.metrics import mean_tweedie_deviance;

metricSVM_13 = mean_tweedie_deviance(y_test, y_pred, power = 2);

metricSVM_13

0.22942897931161435

# 14. Metric(mean_tweedie_deviance - power: 0) 

## A non-negative floating point value (the best value is 0.0).

In [24]:
from sklearn.metrics import mean_tweedie_deviance;

metricSVM_14 = mean_tweedie_deviance(y_test, y_pred, power = 0);

metricSVM_14

20000901.48992021