# Kowshik P

## Multiple Linear Regression - Metrics Assignment on 18-Apr-2022

In [2]:

import pandas as pd;
import numpy as np;
import matplotlib.pyplot as mat;

In [3]:
informationSlot = pd.read_csv("insurance_pre.csv");

informationSlot

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
informationSlot.shape

(1338, 6)

In [5]:
informationSlot = pd.get_dummies(informationSlot, drop_first = True);

informationSlot

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
independentData = informationSlot[["age", "bmi", "children", "sex_male", "smoker_yes"]];

independentData

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependentData = informationSlot[["charges"]];

dependentData

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split;

x_train, x_test, y_train, y_test = train_test_split(independentData, dependentData, test_size = 1/3, random_state = 0);

In [9]:
from sklearn.preprocessing import StandardScaler;

standardization = StandardScaler();

x_train = standardization.fit_transform(x_train);

x_test = standardization.transform(x_test);

In [ ]:
x_train

In [ ]:
x_test

In [ ]:
y_train

In [ ]:
y_test

In [13]:
from sklearn.linear_model import LinearRegression;


from sklearn.model_selection import GridSearchCV;

param_grid = {"fit_intercept":[True, False], "normalize":[True, False], 
              "positive":[True]}


gridCV = GridSearchCV(LinearRegression(), param_grid, cv=10, scoring="neg_mean_squared_error"); 

gridCV.fit(x_train, y_train);

#regressor = LinearRegression(fit_intercept = True, normalize = False, n_jobs = 1, positive = True);

 

#x_train_transform = regressor.fit_transform(x_train);

#x_test_transform = regressor.fit_transform(x_test);



#regressor.fit(x_train, y_train);

#regressor

C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\linear_model\_base.py:155: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  FutureWarning,

In [14]:
weight = regressor.coef_;

weight

array([[3639.42880043, 1946.64638033,  655.42220201,    0.        ,
        9290.41171032]])

In [15]:
bias = regressor.intercept_;

bias

array([13138.32354013])

In [16]:
y_pred = regressor.predict(x_test);

#y_pred

# 1. Metric(R2_Score) 

## if the value of "r" nearly to 1 then that is "Good performence".

## if the value of "r" nearly to 0 then that is "Poor performence".

In [17]:
from sklearn.metrics import r2_score;

metricMultipleLinear_1 = r2_score(y_test, y_pred);

metricMultipleLinear_1

0.7864684814391834

# 2. Metric(explained_variance_score) 

## if the value of nearly to 1 then that is "Good performence".

## if the value of nearly to 0 then that is "Poor performence".

In [ ]:
from sklearn.metrics import explained_variance_score;

metricMultipleLinear_2 = explained_variance_score(y_test, y_pred);

metricMultipleLinear_2

# 3. Metric(max_error) 

## A positive floating point value (the best value is 0.0).

In [ ]:
from sklearn.metrics import max_error;

metricMultipleLinear_3 = max_error(y_test, y_pred);

metricMultipleLinear_3

# 4. Metric(mean_absolute_error) 

## MAE output is non-negative floating point. The best value is 0.0.

In [ ]:
from sklearn.metrics import mean_absolute_error;

metricMultipleLinear_4 = mean_absolute_error(y_test, y_pred);

metricMultipleLinear_4

# 5. Metric(mean_squared_error) 

## A non-negative floating point value (the best value is 0.0).

In [ ]:
from sklearn.metrics import mean_squared_error;

metricMultipleLinear_5 = mean_squared_error(y_test, y_pred);

metricMultipleLinear_5

# 6. Metric(mean_squared_error) 

## A non-negative floating point value (the best value is 0.0).

In [ ]:
from sklearn.metrics import mean_squared_error;

metricMultipleLinear_6 = mean_squared_error(y_test, y_pred);

metricMultipleLinear_6

In [ ]:
#from sklearn.metrics import mean_squared_log_error;

#import math;

#def root_mean_squared_log_error(y_test, y_pred):
  #  sum = 0.0
   # for xValue in range(len(y_pred)):
   #     if y_pred[xValue]<0 or y_test[xValue]<0:
     #       continue
     #   predicted = np.log(y_pred[xValue]+1)
     #   actual = np.log(y_test[xValue]+1)

   # return (sum/len(y_pred))**5




#def normalize(x_test):
  #  result = x_test.copy()
  #  for feature_name in x_test.columns:
     #   max_value = x_test[feature_name].max()
     #   min_value = x_test[feature_name].min()
     #   result [feature_name] = (x_test[feature_name]-min_value) / (max_value-min_value)
   # return result

# 7. Metric(median_absolute_error) 

## Median absolute error output is non-negative floating point. The best value is 0.0.

In [22]:
from sklearn.metrics import median_absolute_error;

metricMultipleLinear_7 = median_absolute_error(y_test, y_pred);

metricMultipleLinear_7

2385.261665403557

# 8. Metric(mean_squared_log_error) 

## A non-negative floating point value (the best value is 0.0).

In [21]:

from sklearn.metrics import mean_squared_log_error

#import math
#from sklearn.metrics import mean_squared_error
#rmse = math.sqrt(mean_squared_log_error(y_test, y_pred))

#rms = np.sqrt(np.mean(np.abs(y_test-y_pred)**2))

#rms
metricLogisticRegression_8 = mean_squared_log_error(y_test, y_pred)

metricLogisticRegression_8

ValueError: Mean Squared Logarithmic Error cannot be used when targets contain negative values.

# 9. Metric(mean_poisson_deviance) 

## A non-negative floating point value (the best value is 0.0).

In [ ]:
from sklearn.metrics import mean_poisson_deviance

metricLogisticRegression_9 = mean_poisson_deviance(y_test, y_pred)

metricLogisticRegression_9

In [ ]:
#def mean_squared_log_error(y_test, y_pred, *,
 #                          sample_weight=None,
  #                         multioutput='uniform_average'):
   # 
    
    
  #  y_test, y_pred, multioutput = _check_reg_targets(
  #      y_test, y_pred, multioutput)
  #  check_consistent_length(y_test, y_pred, sample_weight)

  #  if (y_test < 0).any() or (y_pred < 0).any():
   #     raise ValueError("Mean Squared Logarithmic Error cannot be used when "
  #                       "targets contain negative values.")

  #  return mean_squared_error(np.log1p(y_test), np.log1p(y_pred),
     #                         sample_weight=sample_weight,
     #                         multioutput=multioutput)

#mean_squared_log_error

# 10. Metric(mean_gamma_deviance) 

## A non-negative floating point value (the best value is 0.0).

In [ ]:
from sklearn.metrics import mean_gamma_deviance;

metricMultipleLinear_10 = mean_gamma_deviance(y_test, y_pred);

metricMultipleLinear_10

# 11. Metric(mean_absolute_percentage_error) 

## MAPE output is non-negative floating point. The best value is 0.0.

In [23]:
from sklearn.metrics import mean_absolute_percentage_error;

metricMultipleLinear_11 = mean_absolute_percentage_error(y_test, y_pred);

metricMultipleLinear_11

0.4125393087896514

# 12. Metric(mean_tweedie_deviance - power: 1) 

## A non-negative floating point value (the best value is 0.0).

In [ ]:
from sklearn.metrics import mean_tweedie_deviance;

metricMultipleLinear_12 = mean_tweedie_deviance(y_test, y_pred);

metricMultipleLinear_12

# 13. Metric(mean_tweedie_deviance - power: 2) 

## A non-negative floating point value (the best value is 0.0).

In [ ]:

from sklearn.metrics import mean_tweedie_deviance;

metricMultipleLinear_13 = mean_tweedie_deviance(y_test, y_pred);

metricMultipleLinear_13

# 14. Metric(mean_tweedie_deviance - power: 0) 

## A non-negative floating point value (the best value is 0.0).

In [24]:
from sklearn.metrics import mean_tweedie_deviance;

metricMultipleLinear_14 = mean_tweedie_deviance(y_test, y_pred, power = 0);

metricMultipleLinear_14

34236618.876996845