# Kowshik P

## Random Forest Regression - Metrics Assignment on 18-Apr-2022

In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as mat;

In [2]:
informationSlot = pd.read_csv("insurance_pre.csv");

informationSlot

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
informationSlot.shape

(1338, 6)

In [4]:
informationSlot = pd.get_dummies(informationSlot, drop_first = True);

informationSlot

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
independentData = informationSlot[["age", "bmi", "children", "sex_male", "smoker_yes"]];

independentData

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependentData = informationSlot[["charges"]];

dependentData

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [30]:
from sklearn.model_selection import train_test_split;

x_train, x_test, y_train, y_test = train_test_split(independentData, dependentData, test_size = 1/3, random_state = 6);

In [31]:
from sklearn.preprocessing import StandardScaler;

standardization = StandardScaler();

x_train = standardization.fit_transform(x_train);

x_test = standardization.transform(x_test);

In [ ]:
x_train

In [ ]:
x_test

In [ ]:
y_train

In [ ]:
y_test

In [36]:
from sklearn.ensemble import RandomForestRegressor;

from sklearn.model_selection import GridSearchCV;

#param_grid = {"n_estimators":[10, 20, 30, 40, 50, 60, 70, 80, 90, 100], "criterion":["mse","mae"], 
     #         "min_samples_split": [1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100], 
      #        "max_depth":[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100], 
     #         "min_samples_leaf":[1, 2, 4, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100], 
        #      "max_features":["auto”, “sqrt”, “log2"], "bootstrap":[True, False], "oob_score":[True, False],
     #          "random_state":[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      #      "warm_start":[True, False], "max_samples":[0.1, 1.0, 10]}
        
parameter_grid = {"criterion":["mse","mae"], 
                       "max_features" :["auto", "sqrt", "log2"],
                  "max_depth":[10, 50, 80], "min_samples_split":[10, 50, 80],
                  "n_estimators": [10, 100], "bootstrap":[True, False]}
   

gridCV = GridSearchCV(RandomForestRegressor(), parameter_grid, refit = True, verbose = 3, n_jobs=-1); 

gridCV.fit(x_train, y_train);

Fitting 5 folds for each of 216 candidates, totalling 1080 fits

C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\Users\hp\Anaconda3\envs\virtualml\lib\site-packages\sklearn\ensemble\_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

In [ ]:
#from sklearn.svm import SVR;

#regressor = SVR(kernel = "linear", C = 10000);

#regressor.fit(x_train, y_train);

#regressor

In [ ]:
#weight = regressor.coef_;

#weight

In [ ]:
#bias = regressor.intercept_;

#bias

In [37]:
y_pred = gridCV.predict(x_test);

# 1. Metric(R2_Score) 

## if the value of "r" nearly to 1 then that is "Good performence".

## if the value of "r" nearly to 0 then that is "Poor performence".

In [38]:
from sklearn.metrics import r2_score;

metricRandomForest_1 = r2_score(y_test, y_pred);

metricRandomForest_1

0.8884404233254942

# 2. Metric(explained_variance_score) 

## if the value of nearly to 1 then that is "Good performence".

## if the value of nearly to 0 then that is "Poor performence".

In [39]:
from sklearn.metrics import explained_variance_score;

metricRandomForest_2 = explained_variance_score(y_test, y_pred);

metricRandomForest_2

0.888442865849355

# 3. Metric(max_error) 

## A positive floating point value (the best value is 0.0).

In [40]:
from sklearn.metrics import max_error;

metricRandomForest_3 = max_error(y_test, y_pred);

metricRandomForest_3

25569.209336249998

# 4. Metric(mean_absolute_error) 

## MAE output is non-negative floating point. The best value is 0.0.

In [41]:
from sklearn.metrics import mean_absolute_error;

metricRandomForest_4 = mean_absolute_error(y_test, y_pred);

metricRandomForest_4

1768.9348161674884

# 5. Metric(mean_squared_error) 

## A non-negative floating point value (the best value is 0.0).

In [42]:
from sklearn.metrics import mean_squared_error;

metricRandomForest_5 = mean_squared_error(y_test, y_pred);

metricRandomForest_5

15563029.170159863

# 6. Metric(mean_squared_error) 

## A non-negative floating point value (the best value is 0.0).

In [43]:
from sklearn.metrics import mean_squared_error;

metricRandomForest_6 = mean_squared_error(y_test, y_pred);

metricRandomForest_6

15563029.170159863

In [ ]:
#from sklearn.metrics import mean_squared_log_error;

#import math;

#def root_mean_squared_log_error(y_test, y_pred):
#    sum = 0.0
 #   for xValue in range(len(y_pred)):
 #       if y_pred[xValue]<0 or y_test[xValue]<0:
   #         continue
  #      predicted = np.log(y_pred[xValue]+1)
  #      actual = np.log(y_test[xValue]+1)

  #  return (sum/len(y_pred))**5




#def normalize(x_test):
  #  result = x_test.copy()
   # for feature_name in x_test.columns:
  #      max_value = x_test[feature_name].max()
   #     min_value = x_test[feature_name].min()
   #     result [feature_name] = (x_test[feature_name]-min_value) / (max_value-min_value)
  #  return result

# 7. Metric(median_absolute_error) 

## Median absolute error output is non-negative floating point. The best value is 0.0.

In [44]:
from sklearn.metrics import median_absolute_error;

metricRandomForest_7 = median_absolute_error(y_test, y_pred);

metricRandomForest_7

632.9470454749944

# 8. Metric(mean_squared_log_error) 

## A non-negative floating point value (the best value is 0.0).

In [45]:
from sklearn.metrics import mean_squared_log_error;

metricRandomForest_8 = mean_squared_log_error(y_test, y_pred);

metricRandomForest_8

0.14303164249524367

# 9. Metric(mean_poisson_deviance) 

## A non-negative floating point value (the best value is 0.0).

In [46]:
from sklearn.metrics import mean_poisson_deviance

metricRandomForest_9 = mean_poisson_deviance(y_test, y_pred)

metricRandomForest_9

1593.1877492985186

# 10. Metric(mean_gamma_deviance) 

## A non-negative floating point value (the best value is 0.0).

In [47]:
from sklearn.metrics import mean_gamma_deviance;

metricRandomForest_10 = mean_gamma_deviance(y_test, y_pred);

metricRandomForest_10

0.27471212985196425

# 11. Metric(mean_absolute_percentage_error) 

## MAPE output is non-negative floating point. The best value is 0.0.

In [48]:
from sklearn.metrics import mean_absolute_percentage_error;

metricRandomForest_11 = mean_absolute_percentage_error(y_test, y_pred);

metricRandomForest_11

0.16836932609961788

# 12. Metric(mean_tweedie_deviance - power: 1) 

## A non-negative floating point value (the best value is 0.0).

In [49]:
from sklearn.metrics import mean_tweedie_deviance;

metricRandomForest_12 = mean_tweedie_deviance(y_test, y_pred, power = 1);

metricRandomForest_12

1593.1877492985186

# 13. Metric(mean_tweedie_deviance - power: 2) 

## A non-negative floating point value (the best value is 0.0).

In [50]:
from sklearn.metrics import mean_tweedie_deviance;

metricRandomForest_13 = mean_tweedie_deviance(y_test, y_pred, power = 2);

metricRandomForest_13

0.27471212985196425

# 14. Metric(mean_tweedie_deviance - power: 0) 

## A non-negative floating point value (the best value is 0.0).

In [51]:
from sklearn.metrics import mean_tweedie_deviance;

metricRandomForest_14 = mean_tweedie_deviance(y_test, y_pred, power = 0);

metricRandomForest_14

15563029.170159863